<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!--        Gogle Maps API KEy-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUGd4WhI_8ZqQ-bRnWDRbtq1X7wEaKJD8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>